md-list {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    --md-list-container-color: transparent;
}

md-list-item {
    --md-list-item-list-item-container-color: transparent;
    word-break: break-all;
}

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    --md-ref-typeface-brand: 'Noto Sans JP', sans-serif;
    --md-ref-typeface-plain: 'Noto Sans JP', sans-serif;
}

/* TODO: これ以降をなるべく削除 */

.my-card {
    background: var(--md-sys-color-surface-container-low);
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    --md-elevation-level: 1;
}

@media screen and (max-width: 600px) {
    .my-card {
        padding: 1rem;
        border-radius: 1rem;
    }
}



.my-card p,
.my-card h2,
.my-card h3,
.my-card h5 {
    color: var(--md-sys-color-on-surface-container-low);
}


p,
h2,
h3,
h5,
h6 {
    color: var(--md-sys-color-on-surface);
    padding: 1rem;
    margin: 0;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


thead {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

tbody {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    margin: 0;
}

td,
th {
    border: 1px solid var(--md-sys-color-surface-variant);
    border-spacing: 0;
    padding: 1rem;
    margin: 0;
}

th {
    font-weight: 500;
}

.flex-app-bar {
    position: relative;
    background-color: var(--md-sys-color-primary);
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    z-index: -3;
    pointer-events: none;
}

.flex-app-bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: url(./assets/face.webp) center / cover;
    z-index: -2;
}

.grey-glass {
    background: #00000099;
    width: 100%;
    height: 12rem;
    margin: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    backdrop-filter: blur(.05rem);
}

.grey-glass .title {
    /* width: 100%; */
    height: max-content;
    max-width: 64rem;
    position: relative;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;

}

.grey-glass .title h6,
.grey-glass .title h1 {
    display: block;
    color: var(--md-sys-color-on-primary-light);
    padding: 0 1rem;
    /* position: relative; */
    margin: 0;
}

.fixed-app-bar {
    pointer-events: none;
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: medium;
    opacity: 0;
    background: var(--md-sys-color-surface-container);
    transition: .1s;
    z-index: 10;
}

.fixed-app-bar .title {
    display: block;
    height: 5rem;
    max-width: 62rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

.fixed-app-bar .title h1,
.fixed-app-bar .title h6 {
    pointer-events: none;
    position: absolute;
    color: var(--md-sys-color-on-surface-container);
    padding: 0 1rem;
    margin: 0 auto;
    bottom: 3rem;
}

.fixed-app-bar .title h1 {
    left: 0;
}

.fixed-app-bar .title h6 {
    right: 0;
}